{% if notice == 'user_changed' %}
    <h4>Профиль изменен</h4>
    <p>Изменения вашего личного профиля были успешно сохранены.</p>
{% endif %}
{% if notice == 'code_refreshed' %}
    <h4>Код обновлен</h4>
    <p>Код авторизации для пользователя был успешно обновлен.</p>
{% endif %}